<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Assistive Technology Clinic</string>
	<key>Type</key>
	<string>subclinic_education</string>
	<key>CreateDynamically</key>
	<true/>
	<key>Image</key>
	<string>None</string>
	<key>Transitions</key>
	<dict>
		<key>start_transition_type</key>
		<string>slide</string>
		<key>end_transition_type</key>
		<string>slide</string>
		<key>start_transition_origin</key>
		<string>right</string>
		<key>end_transition_origin</key>
		<string>left</string>
	</dict>
	<key>Theme</key>
	<string>light</string>
	<key>Color</key>
	<string>orange</string>
	<key>Mandatory</key>
	<true/>
	<key>ShowModuleHeader</key>
	<true/>
	<key>RecognizeUserSpeechWords</key>
	<array>
		<string>begin</string>
		<string>next</string>
		<string>previous</string>
		<string>go</string>
		<string>ok</string>
		<string>okay</string>
		<string>continue</string>
		<string>right</string>
		<string>left</string>
		<string>got it</string>
		<string>yep</string>
		<string>yes</string>
		<string>no</string>
	</array>
	<key>SuperModule</key>
	<string>Main</string>
	<key>SubModules</key>
	<array/>
	<key>Pages</key>
	<array>
		<dict>
			<key>Name</key>
			<string>page0</string>
			<key>Type</key>
			<string>intro_page</string>
			<key>ImagePage</key>
			<false/>
			<key>ImageFilename</key>
			<string>NA</string>
			<key>ShowHeader</key>
			<false/>
			<key>HeaderText</key>
			<string></string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>at_page0_header</string>
			<key>ShowButtonsFor</key>
			<string>previousnext</string>
			<key>Text</key>
			<string>Today, you&apos;re going to be seen in the Assistive Technology clinic.  Press next to learn more about this clinic.</string>
			<key>TTSFilenamePrefix</key>
			<string>at_page0</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>page1</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<true/>
			<key>ImageFilename</key>
			<string>at_page0.png</string>
			<key>ShowHeader</key>
			<true/>
			<key>HeaderText</key>
			<string>What is the Assistive Technology Center?</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>pmnr_pns_page1_header</string>
			<key>ShowButtonsFor</key>
			<string>previousnext</string>
			<key>Text</key>
			<string>Clients participate in a comprehensive and individualized evaluation, technology trials, product selection and individualized treatment including designing, customizing, programming, adapting, modifying, training, setup, follow-up, maintenance and repair and/or replacement of an assistive technology device.</string>
			<key>TTSFilenamePrefix</key>
			<string>~pmnr_pns_page1</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>page2</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<false/>
			<key>ImageFilename</key>
			<string></string>
			<key>ShowHeader</key>
			<true/>
			<key>HeaderText</key>
			<string>What services are offered in the AT clinic?</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>at_page2_header</string>
			<key>ShowButtonsFor</key>
			<string>previousnext</string>
			<key>Text</key>
			<string>Services delivered include provision of comprehensive assistive technology evaluation and treatment for devices including Electronic Aids to Daily Living(EADL), Augmentative and Alternative Communication(AAC), Cognitive Orthotics, Adaptive Computer Access, Learning Technology and Wheelchair Equipment Mounts.</string>
			<key>TTSFilenamePrefix</key>
			<string>~pmnr_pns_page2</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array>
				<dict>
					<key>Text</key>
					<string>physiatry</string>
					<key>TTSTextFilenamePrefix</key>
					<string>term_physiatry</string>
					<key>ImageTerm</key>
					<false/>
					<key>ImageFilename</key>
					<string>NA</string>
					<key>TermText</key>
					<string>Physiatry is a branch of medicine that diagnoses and treats disorders causing temporary or permanent impairment.</string>
					<key>TTSTermTextFilenamePrefix</key>
					<string>term_physiatry_text</string>
					<key>MediumOriginCoords</key>
					<array>
						<integer>15</integer>
						<integer>15</integer>
					</array>
					<key>LargeOriginCoords</key>
					<array>
						<integer>20</integer>
						<integer>20</integer>
					</array>
					<key>SmallOriginCoords</key>
					<array>
						<integer>10</integer>
						<integer>10</integer>
					</array>
				</dict>
				<dict>
					<key>Text</key>
					<string>fibromyalgia</string>
					<key>TTSTextFilenamePrefix</key>
					<string>term_fibromyalgia</string>
					<key>ImageTerm</key>
					<false/>
					<key>ImageFilename</key>
					<string>NA</string>
					<key>TermText</key>
					<string>Fibromyalgia is a common syndrome in which a person has long-term, body-wide pain and tenderness in the joints, muscles, tendons, and other soft tissues.</string>
					<key>TTSTermTextFilenamePrefix</key>
					<string>term_fibromyalgia_text</string>
					<key>MediumOriginCoords</key>
					<array>
						<integer>15</integer>
						<integer>25</integer>
					</array>
					<key>LargeOriginCoords</key>
					<array>
						<integer>20</integer>
						<integer>30</integer>
					</array>
					<key>SmallOriginCoords</key>
					<array>
						<integer>10</integer>
						<integer>20</integer>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>page3</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<false/>
			<key>ImageFilename</key>
			<string></string>
			<key>ShowHeader</key>
			<true/>
			<key>HeaderText</key>
			<string>What specialized programs are available?</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>pmnr_pns_page3_header</string>
			<key>ShowButtonsFor</key>
			<string>previousnext</string>
			<key>Text</key>
			<string>Some specialized rehabilitation programs include Post Acute outpatient Brain Injury Rehabilitation, Referral to Blind and Low Vision Rehabilitation Services, Driver’s Rehabilitation Services, and Assistive Technology.</string>
			<key>TTSFilenamePrefix</key>
			<string>~pmnr_pns_page3</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array>
				<dict>
					<key>Text</key>
					<string>physiatrist</string>
					<key>TTSTextFilenamePrefix</key>
					<string>term_physiatrist</string>
					<key>ImageTerm</key>
					<false/>
					<key>ImageFilename</key>
					<string>NA</string>
					<key>TermText</key>
					<string>A physiatrist is a physician specializing in physical medicine and rehabilitation, focusing on restoring function.</string>
					<key>TTSTermTextFilenamePrefix</key>
					<string>term_physiatrist_text</string>
					<key>MediumOriginCoords</key>
					<array>
						<integer>15</integer>
						<integer>15</integer>
					</array>
					<key>LargeOriginCoords</key>
					<array>
						<integer>20</integer>
						<integer>20</integer>
					</array>
					<key>SmallOriginCoords</key>
					<array>
						<integer>10</integer>
						<integer>10</integer>
					</array>
				</dict>
				<dict>
					<key>Text</key>
					<string>electromyography</string>
					<key>TTSTextFilenamePrefix</key>
					<string>term_electromyography</string>
					<key>ImageTerm</key>
					<false/>
					<key>ImageFilename</key>
					<string>NA</string>
					<key>TermText</key>
					<string>Electromyography, or EMG, tests the electrical activity of muscles. When this activity is abnormal, understanding why can help the doctor diagnose the patient&apos;s condition.</string>
					<key>TTSTermTextFilenamePrefix</key>
					<string>term_electromyography_text</string>
					<key>MediumOriginCoords</key>
					<array>
						<integer>15</integer>
						<integer>25</integer>
					</array>
					<key>LargeOriginCoords</key>
					<array>
						<integer>20</integer>
						<integer>30</integer>
					</array>
					<key>SmallOriginCoords</key>
					<array>
						<integer>10</integer>
						<integer>20</integer>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>page4</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<true/>
			<key>ImageFilename</key>
			<string>head_injury.png</string>
			<key>ShowHeader</key>
			<true/>
			<key>HeaderText</key>
			<string>What if I have a TBI?</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>pmnr_pns_page4_header</string>
			<key>ShowButtonsFor</key>
			<string>previousnext</string>
			<key>Text</key>
			<string>We offer screenings and follow up comprehensive evaluations for traumatic brain injury, or TBI, to establish medical diagnoses and determine appropriate treatments.  Those at particular risk for TBI include those involved in a blast or explosion, motor vehicle accident, or a fall that resulted in a head injury.</string>
			<key>TTSFilenamePrefix</key>
			<string>~pmnr_pns_page4</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array>
				<dict>
					<key>Text</key>
					<string>acupuncture</string>
					<key>TTSTextFilenamePrefix</key>
					<string>term_acupuncture</string>
					<key>ImageTerm</key>
					<false/>
					<key>ImageFilename</key>
					<string>NA</string>
					<key>TermText</key>
					<string>Acupuncture is an alternative medicine originating in ancient China that encourages the body to promote natural healing. This is done by inserting non-painful needles at very precise points.</string>
					<key>TTSTermTextFilenamePrefix</key>
					<string>term_acupuncture_text</string>
					<key>MediumOriginCoords</key>
					<array>
						<integer>15</integer>
						<integer>15</integer>
					</array>
					<key>LargeOriginCoords</key>
					<array>
						<integer>20</integer>
						<integer>20</integer>
					</array>
					<key>SmallOriginCoords</key>
					<array>
						<integer>10</integer>
						<integer>10</integer>
					</array>
				</dict>
				<dict>
					<key>Text</key>
					<string>orthotics</string>
					<key>TTSTextFilenamePrefix</key>
					<string>term_orthotics</string>
					<key>ImageTerm</key>
					<false/>
					<key>ImageFilename</key>
					<string>NA</string>
					<key>TermText</key>
					<string>Orthotics are devices worn to correct a physical problem, restoring function or relieve pain. In the case of foot arch or heel pain, they fit in your shoes to alleviate pain.</string>
					<key>TTSTermTextFilenamePrefix</key>
					<string>term_orthotics_text</string>
					<key>MediumOriginCoords</key>
					<array>
						<integer>15</integer>
						<integer>15</integer>
					</array>
					<key>LargeOriginCoords</key>
					<array>
						<integer>20</integer>
						<integer>20</integer>
					</array>
					<key>SmallOriginCoords</key>
					<array>
						<integer>10</integer>
						<integer>10</integer>
					</array>
				</dict>
				<dict>
					<key>Text</key>
					<string>pediatrics</string>
					<key>TTSTextFilenamePrefix</key>
					<string>term_pediatrics</string>
					<key>ImageTerm</key>
					<false/>
					<key>ImageFilename</key>
					<string>NA</string>
					<key>TermText</key>
					<string>Pediatrics is the branch of medicine that deals with the medical care of infants, children, and adolescents.</string>
					<key>TTSTermTextFilenamePrefix</key>
					<string>term_pediatrics_text</string>
					<key>MediumOriginCoords</key>
					<array>
						<integer>15</integer>
						<integer>15</integer>
					</array>
					<key>LargeOriginCoords</key>
					<array>
						<integer>20</integer>
						<integer>20</integer>
					</array>
					<key>SmallOriginCoords</key>
					<array>
						<integer>10</integer>
						<integer>10</integer>
					</array>
				</dict>
				<dict>
					<key>Text</key>
					<string>neurology</string>
					<key>TTSTextFilenamePrefix</key>
					<string>term_neurology</string>
					<key>ImageTerm</key>
					<false/>
					<key>ImageFilename</key>
					<string>NA</string>
					<key>TermText</key>
					<string>Neurology is the branch of medicine that deals with the anatomy, functions, and disorders of nerves and the nervous system, which includes the brain and spinal cord.</string>
					<key>TTSTermTextFilenamePrefix</key>
					<string>term_neurology_text</string>
					<key>MediumOriginCoords</key>
					<array>
						<integer>15</integer>
						<integer>15</integer>
					</array>
					<key>LargeOriginCoords</key>
					<array>
						<integer>20</integer>
						<integer>20</integer>
					</array>
					<key>SmallOriginCoords</key>
					<array>
						<integer>10</integer>
						<integer>10</integer>
					</array>
				</dict>
				<dict>
					<key>Text</key>
					<string>internal medicine</string>
					<key>TTSTextFilenamePrefix</key>
					<string>term_internal_medicine</string>
					<key>ImageTerm</key>
					<false/>
					<key>ImageFilename</key>
					<string>NA</string>
					<key>TermText</key>
					<string>Internal medicine is the branch of medicine that deals with the diagnosis and nonsurgical treatment of diseases of the internal organs.</string>
					<key>TTSTermTextFilenamePrefix</key>
					<string>term_internal_medicine_text</string>
					<key>MediumOriginCoords</key>
					<array>
						<integer>15</integer>
						<integer>15</integer>
					</array>
					<key>LargeOriginCoords</key>
					<array>
						<integer>20</integer>
						<integer>20</integer>
					</array>
					<key>SmallOriginCoords</key>
					<array>
						<integer>10</integer>
						<integer>10</integer>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
