<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Background</key>
	<string>Eve “Evi” Klein is a licensed Speech Language Pathologist.  She has worked at the Palo Alto VA since 2000, and joined the Assistive Technology Center in 2010.  She has extensive experience  working with patients with neurogenic speech, language and cognitive disabilities, and voice disorders , in acute, outpatient and rehabilitation settings.  Her primary areas of expertise in assistive technology include augmentative and alternative communication and electronic cognitive devices.</string>
	<key>Education and Affiliations</key>
	<string>She holds a Bachelors degree from University of California, Davis, and a Masters degree in Speech Language Pathology from Northwestern University.</string>
	<key>Credentials</key>
	<string>She has been a certified member of the American Speech Language Hearing Association (ASHA) since 1999.  She is also certified as an Assistive Technology Professional through the Rehabilitation Engineering and Assistive Technology Society of North America (RESNA) since 2010.</string>
</dict>
</plist>
