<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Background</key>
	<string>Karen Parecki is an Occupational Therapist who has worked at the Palo Alto VA since 1999.  In that time, she has had experience working with veterans with long term care needs and those in acute inpatient rehabilitation, including specializing in working with patients with neurologic disorders, polytraumatic injuries  and head injuries.   Her current area of expertise is assistive technology with a focus on EADL/ECU (electronic aids to daily living), adaptive computer access, electronic cognitive devices and wheeled seating and mobility.</string>
	<key>Education and Affiliations</key>
	<string>Karen graduated with an MS in Occupational Therapy from Boston University.  She also has a BS in psychobiology from the University of California, Los Angeles.</string>
	<key>Credentials</key>
	<string>Karen has been certified as a Brain Injury Specialist through ACBIS since 2001 and as an Assistive Technology Professional through RESNA since 2010.</string>
</dict>
</plist>
