<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Background</key>
	<string>Debbie Pitsch is a Physical Therapist who has worked at the Palo Alto VA since 1999 and joined the Assistive Technology Center team in 2010. She has 18 years of experience working with veterans with neurological and orthopedic impairments including polytraumatic head injuries and amputation care in acute, outpatient, and rehabilitation settings.  Her primary areas of expertise in assistive technology are adaptive sporting, prosthetic training, and neuroprosthetic ambulation aids.</string>
	<key>Credentials</key>
	<string>Debbie Pitsch received a Masters of Physical Therapy at Samuel Merritt College in Oakland, CA in 1995. She has been certified as an Assistive Technology Professional through RESNA since 2010. She has been a Clinical Specialist in Geriatric Physical Therapy through the American Board of Physical Therapy Specialists since 2003. She has been a Certified Brain Injury Specialist from the Academy of Certified Brain Injury Specialists since 2002. She is currently certified by the American Red Cross as a lifeguard and is certified to provide aquatic therapy.</string>
	<key>Philosophy</key>
	<string>I have a deep appreciation and respect for the human body and its potential for healing. I prefer to incorporate a holistic approach to helping individuals reach their personal goals. I also enjoy challenging individuals to reach their potentials.</string>
	<key>Personal Interests</key>
	<string>I enjoy living in sunny California where I can enjoy the natural beauty that the Bay Area has to offer.  I spend my free time biking, hiking, backpacking, camping, swimming, sailing and traveling. I have experience volunteering with Disabled Sports USA adaptive ski program at Alpine Meadows and  am passionate about helping others enjoy the sport. I have volunteered at the VA National Summer Sports Clinic for the past 2 years and enjoy helping others achieve their goals and reach beyond their limits through sports such as adaptive cycling, sailing, kayaking, rowing, track and surfing.</string>
</dict>
</plist>
