<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Background</key>
	<string>In 1984 Dr. Shankar joined the VA Healthcare System.  She has been with the VA Palo Alto in Livermore since 1991, and works in the department of PM&amp;R as a staff physician.</string>
	<key>Education</key>
	<string>Dr. Shankar completed her medical school at University College of Medical Sciences in New Delhi in India in 1978.  She did her residency in PM&amp;R at Mount Sinai, Schwab Rehabilitation Center in Chicago, Illinois, including the last year as a chief resident.</string>
	<key>Credentials and Affiliations</key>
	<string>Dr. Shankar is board certified in Physical Medicine and Rehabilitation as well as Electromyography.  She is also a credentialed Acupuncturist.  She is an affiliated faculty at Stanford Medical School.</string>
</dict>
</plist>
