<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Background</key>
	<string>Dr. Huang specializes in physical medicine, rehabilitation and pain medicine. He also focuses on management of acute and chronic musculoskeletal pain at the joints in the upper and lower extremities, neck pain and back pain, medical management related to the rehabilitation of stroke, traumatic brain injuries, spinal cord injuries and various neuromuscular disorders.</string>
	<key>Credentials</key>
	<string>He completed his medical school at Western University of Health Sciences in 2005. After one year of internship in Downey, California, he completed three years of residency in Physical Medicine and Rehabilitation at Stanford University including the last year as a Chief Resident.  In 2010, upon the completion of his Pain Medicine fellowship at the University of Iowa, he joined the VA Palo Alto Health Care system under the departments of polytrauma, pain medicine and PM&amp;R. His clinical interests include the rehabilitation of musculoskeletal related pain and traumatic brain injury disorders.</string>
	<key>Philosophy</key>
	<string>Dr. Huang chose to become an Osteopathic doctor (D.O.) because he believes that caring for a person requires understanding the anatomy, the illness and overall well-being of the patient as a person. He believes in working alongside his patients to develop an individualized treatment plan that address the mind, spirit and the body. Having been trained in both Osteopathic and Allopathic (M.D.) facilities, he has learned to combine the best of both cultures in helping his patients.</string>
	<key>Personal Interests</key>
	<string>Dr. Huang and his family are avid members and provide loyal support to the California Museum of Science, the Monterey Bay Aquarium and the de Young Museum. He is also a huge fan of the Santa Clara Valley Koi and Garden tours.  He enjoys gardening, snorkeling, horseback riding, bicycling and traveling with his wife and daughter to various countries to try different foods. In addition to the family dog, he enjoys keeping fish as pets.</string>
</dict>
</plist>
