<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Background</key>
	<string>Dr. Karandikar has 14 years of experience and practices in Physical Medicine and Rehabilitation.</string>
	<key>Education and Affiliations</key>
	<string>Dr. Karandikar graduated from Seth G.S. Medical College, in Mumbai.  His affiliations include Samaritan Hospital - Lexington, UK Healthcare Hospital, and the Palo Alto Veterans Affairs Medical Center.</string>
	<key>Credentials</key>
	<string>Dr. Karandikar is board certified in Physical Medicine and Rehabilitation.</string>
</dict>
</plist>
