<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>EMG Clinic</string>
	<key>Type</key>
	<string>subclinic_education</string>
	<key>CreateDynamically</key>
	<true/>
	<key>Image</key>
	<string>None</string>
	<key>Transitions</key>
	<dict>
		<key>start_transition_type</key>
		<string>slide</string>
		<key>end_transition_type</key>
		<string>slide</string>
		<key>start_transition_origin</key>
		<string>right</string>
		<key>end_transition_origin</key>
		<string>left</string>
	</dict>
	<key>Theme</key>
	<string>light</string>
	<key>Color</key>
	<string>orange</string>
	<key>Mandatory</key>
	<true/>
	<key>ShowModuleHeader</key>
	<true/>
	<key>RecognizeUserSpeechWords</key>
	<array>
		<string>begin</string>
		<string>next</string>
		<string>previous</string>
		<string>go</string>
		<string>ok</string>
		<string>okay</string>
		<string>continue</string>
		<string>right</string>
		<string>left</string>
		<string>got it</string>
		<string>yep</string>
		<string>yes</string>
		<string>no</string>
	</array>
	<key>SuperModule</key>
	<string>Main</string>
	<key>SubModules</key>
	<array/>
	<key>Pages</key>
	<array>
		<dict>
			<key>Name</key>
			<string>page0</string>
			<key>Type</key>
			<string>intro_page</string>
			<key>ImagePage</key>
			<false/>
			<key>ImageFilename</key>
			<string>NA</string>
			<key>ShowHeader</key>
			<false/>
			<key>HeaderText</key>
			<string></string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>pmnr_emg_page0_header</string>
			<key>ShowButtonsFor</key>
			<string>previousnext</string>
			<key>Text</key>
			<string>Today, you&apos;re going to be seen in the EMG Clinic.  Press next to learn more about this clinic.</string>
			<key>TTSFilenamePrefix</key>
			<string>pmnr_emg_page0</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>page1</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<false/>
			<key>ImageFilename</key>
			<string>NA</string>
			<key>ShowHeader</key>
			<true/>
			<key>HeaderText</key>
			<string>What is EMG?</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>pmnr_emg_page1_header</string>
			<key>ShowButtonsFor</key>
			<string>previousnext</string>
			<key>Text</key>
			<string>EMG, or Electromyography, is a technique for evaluation and recording the electrical activity of the muscles.  It is performed by certified professionals like Neurologists, Physiatrists, or Physical Therapists using an instrument called an Electromyograph.</string>
			<key>TTSFilenamePrefix</key>
			<string>~pmnr_emg_page1</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>page2</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<true/>
			<key>ImageFilename</key>
			<string>emg_electromyograph_in_back.jpg</string>
			<key>ShowHeader</key>
			<true/>
			<key>HeaderText</key>
			<string>What is an Electromyograph?</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>pmnr_emg_page2_header</string>
			<key>ShowButtonsFor</key>
			<string>previousnext</string>
			<key>Text</key>
			<string>An Electromyograph detects and records the electrical signals generated by muscle cells.  These signals can be analyzed by a doctor to diagnose medical problems related to nerve and/or muscle damage or movement problems.</string>
			<key>TTSFilenamePrefix</key>
			<string>~pmnr_emg_page2</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array>
				<dict>
					<key>Text</key>
					<string>physiatry</string>
					<key>TTSTextFilenamePrefix</key>
					<string>term_physiatry</string>
					<key>ImageTerm</key>
					<false/>
					<key>ImageFilename</key>
					<string>NA</string>
					<key>TermText</key>
					<string>Physiatry is a branch of medicine that diagnoses and treats disorders causing temporary or permanent impairment.</string>
					<key>TTSTermTextFilenamePrefix</key>
					<string>term_physiatry_text</string>
					<key>MediumOriginCoords</key>
					<array>
						<integer>15</integer>
						<integer>15</integer>
					</array>
					<key>LargeOriginCoords</key>
					<array>
						<integer>20</integer>
						<integer>20</integer>
					</array>
					<key>SmallOriginCoords</key>
					<array>
						<integer>10</integer>
						<integer>10</integer>
					</array>
				</dict>
				<dict>
					<key>Text</key>
					<string>fibromyalgia</string>
					<key>TTSTextFilenamePrefix</key>
					<string>term_fibromyalgia</string>
					<key>ImageTerm</key>
					<false/>
					<key>ImageFilename</key>
					<string>NA</string>
					<key>TermText</key>
					<string>Fibromyalgia is a common syndrome in which a person has long-term, body-wide pain and tenderness in the joints, muscles, tendons, and other soft tissues.</string>
					<key>TTSTermTextFilenamePrefix</key>
					<string>term_fibromyalgia_text</string>
					<key>MediumOriginCoords</key>
					<array>
						<integer>15</integer>
						<integer>25</integer>
					</array>
					<key>LargeOriginCoords</key>
					<array>
						<integer>20</integer>
						<integer>30</integer>
					</array>
					<key>SmallOriginCoords</key>
					<array>
						<integer>10</integer>
						<integer>20</integer>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>page3</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<true/>
			<key>ImageFilename</key>
			<string>EMG_screen.png</string>
			<key>ShowHeader</key>
			<true/>
			<key>HeaderText</key>
			<string>What can I expect during my EMG session?</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>pmnr_emg_page3_header</string>
			<key>ShowButtonsFor</key>
			<string>previousnext</string>
			<key>Text</key>
			<string>Some sessions involve placing surface electrodes on the muscles to get a general picture of muscle activation.  Other sessions involve intramuscular measurements to record more localized electrical activity.  Since EMG is a diagnostic test, the time required can vary depending on the nature of the problem, but a typical session might last 45 to 90 minutes.</string>
			<key>TTSFilenamePrefix</key>
			<string>~pmnr_emg_page3</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array>
				<dict>
					<key>Text</key>
					<string>physiatrist</string>
					<key>TTSTextFilenamePrefix</key>
					<string>term_physiatrist</string>
					<key>ImageTerm</key>
					<false/>
					<key>ImageFilename</key>
					<string>NA</string>
					<key>TermText</key>
					<string>A physiatrist is a physician specializing in physical medicine and rehabilitation, focusing on restoring function.</string>
					<key>TTSTermTextFilenamePrefix</key>
					<string>term_physiatrist_text</string>
					<key>MediumOriginCoords</key>
					<array>
						<integer>15</integer>
						<integer>15</integer>
					</array>
					<key>LargeOriginCoords</key>
					<array>
						<integer>20</integer>
						<integer>20</integer>
					</array>
					<key>SmallOriginCoords</key>
					<array>
						<integer>10</integer>
						<integer>10</integer>
					</array>
				</dict>
				<dict>
					<key>Text</key>
					<string>electromyography</string>
					<key>TTSTextFilenamePrefix</key>
					<string>term_electromyography</string>
					<key>ImageTerm</key>
					<false/>
					<key>ImageFilename</key>
					<string>NA</string>
					<key>TermText</key>
					<string>Electromyography, or EMG, tests the electrical activity of muscles. When this activity is abnormal, understanding why can help the doctor diagnose the patient&apos;s condition.</string>
					<key>TTSTermTextFilenamePrefix</key>
					<string>term_electromyography_text</string>
					<key>MediumOriginCoords</key>
					<array>
						<integer>15</integer>
						<integer>25</integer>
					</array>
					<key>LargeOriginCoords</key>
					<array>
						<integer>20</integer>
						<integer>30</integer>
					</array>
					<key>SmallOriginCoords</key>
					<array>
						<integer>10</integer>
						<integer>20</integer>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
