<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Background</key>
	<string>In 1990, Dr. Teraoka joined the VA Palo Alto Health Care system under the departments of polytrauma, pain medicine and PM&amp;R as a Staff Physician and from 2008 to 2009, he became the Medical Director and Senior Physiatrist in the Polytrauma System of Care, and the Chief of Service of PM&amp;R.</string>
	<key>Education</key>
	<string>Dr. Teraoka completed his medical school at John Burns School of Medicine in 1984. After one year of internship at Saint Mary&apos;s Hospital, he completed five years of residency in Physical Medicine and Rehabilitation Hawaii, San Francisco, and Stanford including the last year as a Chief Resident.</string>
	<key>Credentials</key>
	<string>Dr. Teraoka is board certified in Physical Medicine and Rehabilitation, as well as Internal Medicine from the American Board of Physical Medicine and Rehabilitation.</string>
</dict>
</plist>
