<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Acupuncture Clinic</string>
	<key>Type</key>
	<string>subclinic_education</string>
	<key>CreateDynamically</key>
	<true/>
	<key>Image</key>
	<string>None</string>
	<key>Transitions</key>
	<dict>
		<key>start_transition_type</key>
		<string>slide</string>
		<key>end_transition_type</key>
		<string>slide</string>
		<key>start_transition_origin</key>
		<string>right</string>
		<key>end_transition_origin</key>
		<string>left</string>
	</dict>
	<key>Theme</key>
	<string>light</string>
	<key>Color</key>
	<string>orange</string>
	<key>Mandatory</key>
	<true/>
	<key>ShowModuleHeader</key>
	<true/>
	<key>RecognizeUserSpeechWords</key>
	<array>
		<string>begin</string>
		<string>next</string>
		<string>previous</string>
		<string>go</string>
		<string>ok</string>
		<string>okay</string>
		<string>continue</string>
		<string>right</string>
		<string>left</string>
		<string>got it</string>
		<string>yep</string>
		<string>yes</string>
		<string>no</string>
	</array>
	<key>SuperModule</key>
	<string>Main</string>
	<key>SubModules</key>
	<array/>
	<key>Pages</key>
	<array>
		<dict>
			<key>Name</key>
			<string>page0</string>
			<key>Type</key>
			<string>intro_page</string>
			<key>ImagePage</key>
			<false/>
			<key>ImageFilename</key>
			<string>NA</string>
			<key>ShowHeader</key>
			<false/>
			<key>HeaderText</key>
			<string></string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>pmnr_acu_page0_header</string>
			<key>ShowButtonsFor</key>
			<string>previousnext</string>
			<key>Text</key>
			<string>Today, you&apos;re going to be seen in the Acupuncture Clinic.  Press next to learn more about this clinic.</string>
			<key>TTSFilenamePrefix</key>
			<string>pmnr_acu_page0</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>page1</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<false/>
			<key>ImageFilename</key>
			<string>NA</string>
			<key>ShowHeader</key>
			<true/>
			<key>HeaderText</key>
			<string>Origins and History</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>pmnr_acu_page1_header</string>
			<key>ShowButtonsFor</key>
			<string>previousnext</string>
			<key>Text</key>
			<string>Acupuncture originated in China about 2000 to 3000 years ago, making it older than Western medicine.  It was FDA approved in the 1990s and has been used as a medical treatment at the Palo Alto VA since 1996.</string>
			<key>TTSFilenamePrefix</key>
			<string>~pmnr_acu_page1</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>page2</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<true/>
			<key>ImageFilename</key>
			<string>acupuncture_meridians.png</string>
			<key>ShowHeader</key>
			<true/>
			<key>HeaderText</key>
			<string>Philosophy and Practice</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>pmnr_acu_page2_header</string>
			<key>ShowButtonsFor</key>
			<string>previousnext</string>
			<key>Text</key>
			<string>Based in the principles of Taoism and Confucianism, a licensed Acupuncture Specialist strives to fix the balance of energy, or &apos;Chi&apos;, that flows through the body. By carefully placing needles along 14 meridians, the natural flow of energy can be restored.</string>
			<key>TTSFilenamePrefix</key>
			<string>~pmnr_acu_page2</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array>
				<dict>
					<key>Text</key>
					<string>physiatry</string>
					<key>TTSTextFilenamePrefix</key>
					<string>term_physiatry</string>
					<key>ImageTerm</key>
					<false/>
					<key>ImageFilename</key>
					<string>NA</string>
					<key>TermText</key>
					<string>Physiatry is a branch of medicine that diagnoses and treats disorders causing temporary or permanent impairment.</string>
					<key>TTSTermTextFilenamePrefix</key>
					<string>term_physiatry_text</string>
					<key>MediumOriginCoords</key>
					<array>
						<integer>15</integer>
						<integer>15</integer>
					</array>
					<key>LargeOriginCoords</key>
					<array>
						<integer>20</integer>
						<integer>20</integer>
					</array>
					<key>SmallOriginCoords</key>
					<array>
						<integer>10</integer>
						<integer>10</integer>
					</array>
				</dict>
				<dict>
					<key>Text</key>
					<string>fibromyalgia</string>
					<key>TTSTextFilenamePrefix</key>
					<string>term_fibromyalgia</string>
					<key>ImageTerm</key>
					<false/>
					<key>ImageFilename</key>
					<string>NA</string>
					<key>TermText</key>
					<string>Fibromyalgia is a common syndrome in which a person has long-term, body-wide pain and tenderness in the joints, muscles, tendons, and other soft tissues.</string>
					<key>TTSTermTextFilenamePrefix</key>
					<string>term_fibromyalgia_text</string>
					<key>MediumOriginCoords</key>
					<array>
						<integer>15</integer>
						<integer>25</integer>
					</array>
					<key>LargeOriginCoords</key>
					<array>
						<integer>20</integer>
						<integer>30</integer>
					</array>
					<key>SmallOriginCoords</key>
					<array>
						<integer>10</integer>
						<integer>20</integer>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>page3</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<true/>
			<key>ImageFilename</key>
			<string>acupuncture_needle.png</string>
			<key>ShowHeader</key>
			<true/>
			<key>HeaderText</key>
			<string>Does acupuncture hurt?</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>pmnr_acu_page3_header</string>
			<key>ShowButtonsFor</key>
			<string>previousnext</string>
			<key>Text</key>
			<string>Although acupuncture does not work for everyone, it involves very small, safe, sterile and disposable needles that do not cause pain.  In fact, when placed correctly, endorphins are released in the body relieving pain symptoms!</string>
			<key>TTSFilenamePrefix</key>
			<string>~pmnr_acu_page3</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array>
				<dict>
					<key>Text</key>
					<string>physiatrist</string>
					<key>TTSTextFilenamePrefix</key>
					<string>term_physiatrist</string>
					<key>ImageTerm</key>
					<false/>
					<key>ImageFilename</key>
					<string>NA</string>
					<key>TermText</key>
					<string>A physiatrist is a physician specializing in physical medicine and rehabilitation, focusing on restoring function.</string>
					<key>TTSTermTextFilenamePrefix</key>
					<string>term_physiatrist_text</string>
					<key>MediumOriginCoords</key>
					<array>
						<integer>15</integer>
						<integer>15</integer>
					</array>
					<key>LargeOriginCoords</key>
					<array>
						<integer>20</integer>
						<integer>20</integer>
					</array>
					<key>SmallOriginCoords</key>
					<array>
						<integer>10</integer>
						<integer>10</integer>
					</array>
				</dict>
				<dict>
					<key>Text</key>
					<string>electromyography</string>
					<key>TTSTextFilenamePrefix</key>
					<string>term_electromyography</string>
					<key>ImageTerm</key>
					<false/>
					<key>ImageFilename</key>
					<string>NA</string>
					<key>TermText</key>
					<string>Electromyography, or EMG, tests the electrical activity of muscles. When this activity is abnormal, understanding why can help the doctor diagnose the patient&apos;s condition.</string>
					<key>TTSTermTextFilenamePrefix</key>
					<string>term_electromyography_text</string>
					<key>MediumOriginCoords</key>
					<array>
						<integer>15</integer>
						<integer>25</integer>
					</array>
					<key>LargeOriginCoords</key>
					<array>
						<integer>20</integer>
						<integer>30</integer>
					</array>
					<key>SmallOriginCoords</key>
					<array>
						<integer>10</integer>
						<integer>20</integer>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>page4</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<false/>
			<key>ImageFilename</key>
			<string>NA</string>
			<key>ShowHeader</key>
			<true/>
			<key>HeaderText</key>
			<string>Procedure</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>pmnr_acu_page4_header</string>
			<key>ShowButtonsFor</key>
			<string>previousnext</string>
			<key>Text</key>
			<string>Acupuncture treatments usually last about 20 to 30 minutes and occur once a week to once a month.  It can help patients in PM&amp;R with back, neck, or body pain, as well as with weight loss and to help quit smoking.</string>
			<key>TTSFilenamePrefix</key>
			<string>~pmnr_acu_page4</string>
			<key>ContainsTerminology</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
