<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Background</key>
	<string>Dr. Klima has 25 years of experience and practices in Physical Medicine and Rehabilitation and Electrodiagnostic Medicine, as well as Sports Medicine.</string>
	<key>Education and Affiliations</key>
	<string>Dr. Klima graduated from Charles University, in Prague, Czech Republic.  His affiliations include the Palo Alto Veterans Affairs Medical Center and Stanford University.</string>
	<key>Credentials</key>
	<string>Dr. Klima is board certified in Physical Medicine and Rehabilitation and Electrodiagnostic Medicine.</string>
</dict>
</plist>
