<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Background</key>
	<string>Dr. Kingery has 26 years of experience and practices in Physical Medicine and Rehabilitation.</string>
	<key>Education and Affiliations</key>
	<string>Dr. Kingery graduated from University of Nebraska, in Omaha.  His affiliations include Stanford Hospital, Lucile S Packard Childrens Hospital, Stanford Medical Center, and the Palo Alto Veterans Affairs Medical Center.</string>
	<key>Credentials</key>
	<string>Dr. Kingery is board certified in Physical Medicine and Rehabilitation.</string>
</dict>
</plist>
