<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Background</key>
	<string>Dr. Mandal joined the VA Palo Alto Healthcare as lead Polytrauma Network Site physiatrist at the Livermore division in 2009.</string>
	<key>Education</key>
	<string>She graduated from Tufts University School of Medicine in Boston, and completed her training in Physical Medicine and Rehabilitation at the University of California in Los Angeles (UCLA).</string>
	<key>Work</key>
	<string>She works with TBI patients, ranging from mild to severe, OEF/OIF as well as Vietnam/Korean/Gulf war veterans.</string>
</dict>
</plist>
