<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>What&apos;s New at the Polytrauma System of Care 2013 Q4</string>
	<key>Type</key>
	<string>whats_new</string>
	<key>CreateDynamically</key>
	<true/>
	<key>Image</key>
	<string>None</string>
	<key>Transitions</key>
	<dict>
		<key>start_transition_type</key>
		<string>slide</string>
		<key>end_transition_type</key>
		<string>slide</string>
		<key>start_transition_origin</key>
		<string>right</string>
		<key>end_transition_origin</key>
		<string>left</string>
	</dict>
	<key>Theme</key>
	<string>light</string>
	<key>Color</key>
	<string>red</string>
	<key>Mandatory</key>
	<true/>
	<key>ShowModuleHeader</key>
	<true/>
	<key>RecognizeUserSpeechWords</key>
	<array>
		<string>begin</string>
		<string>next</string>
		<string>previous</string>
		<string>go</string>
		<string>ok</string>
		<string>okay</string>
		<string>continue</string>
		<string>right</string>
		<string>left</string>
		<string>got it</string>
		<string>yep</string>
		<string>yes</string>
		<string>no</string>
	</array>
	<key>SuperModule</key>
	<string>Main</string>
	<key>SubModules</key>
	<array/>
	<key>Pages</key>
	<array>
		<dict>
			<key>Name</key>
			<string>page0</string>
			<key>Type</key>
			<string>intro_page</string>
			<key>ImagePage</key>
			<true/>
			<key>ImageFilename</key>
			<string>odette_harris2.png</string>
			<key>ShowHeader</key>
			<true/>
			<key>HeaderText</key>
			<string>A note from Odette Harris, MD, MPH (Associate Chief of Staff)</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>psc_whats_new_page0_header</string>
			<key>ShowButtonsFor</key>
			<string>previousnext</string>
			<key>Text</key>
			<string>Welcome to Fiscal Year 2013 Quarter 4 at the VA Palo Alto Health Care System, Polytrauma System of Care (PSC).
                The focus of this edition of our Newsletter, “38 Miles…Palo Alto to Livermore” is on Innovation and Technology initiatives in our PSC. Outstanding clinical care remains our #1 priority and is driven by our commitment to continuous improvement.  We are fortunate that Innovation and Research continue to be integral to our operation and thus significantly drive and benefit our clinical care.  Our outcomes are outstanding and the benefits/impact to our patients and families is undeniable.  This is in direct support of our overall mission.   </string>
			<key>TTSFilenamePrefix</key>
			<string>~psc_whats_new_page0</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>page1</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<true/>
			<key>ImageFilename</key>
			<string>psc_whatsnew_2013q4_page1.png</string>
			<key>ShowHeader</key>
			<true/>
			<key>HeaderText</key>
			<string>Strategic Planning Update…</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>psc_whats_new_page1_header</string>
			<key>ShowButtonsFor</key>
			<string>previousnext</string>
			<key>Text</key>
			<string>In an effort to incorporate all stakeholder feedback gathered during a 9-month strategic planning process, Polytrauma System of Care (PSC) leadership is moving forward with a planned expansion of the Assistive Technology Center to include a Center for Innovation and Technology (CIT).  The expanded organizational structure will provide a design, learning, and development pathway for new health care technologies while maintaining the current service delivery of assistive technologies within the PSC.</string>
			<key>TTSFilenamePrefix</key>
			<string>~psc_whats_new_page1</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>page2</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<true/>
			<key>ImageFilename</key>
			<string>at_icon.png</string>
			<key>ShowHeader</key>
			<true/>
			<key>HeaderText</key>
			<string>Strategic Planning Update…(cont.)</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>psc_whats_new_page2_header</string>
			<key>ShowButtonsFor</key>
			<string>previousnext</string>
			<key>Text</key>
			<string>The new Center signals a commitment to thoughtful creativity, collaborative entrepreneurialism, new project development and incubation, and continuous performance improvement in patient care. Jonathan Sills, PhD, Program Director of Assistive Technology and the main force behind the 2013-2015 strategic plan that included the conceptualization of the Center for Innovation and Technology (CIT) within the Polytrauma System of Care, will oversee the new center.</string>
			<key>TTSFilenamePrefix</key>
			<string>~psc_whats_new_page2</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
		</dict>
		<dict>
			<key>Name</key>
			<string>page3</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<true/>
			<key>ImageFilename</key>
			<string>psc_whatsnew_2013q4_section2_1.png</string>
			<key>ShowHeader</key>
			<true/>
			<key>HeaderText</key>
			<string>Setting the pace with Tech Projects!</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>psc_whats_new_page3_header</string>
			<key>ShowButtonsFor</key>
			<string>previousnext</string>
			<key>Text</key>
			<string>Along with the IntelaCare Project featured in this issue of the PSC newsletter, the VAPAHCS IPad Waiting Room project was recently recognized by CARF (Commission on Accreditation of Rehabilitation Facilities) International as an exemplary program during the May 2013 accreditation survey. The CARF framework encompasses rehabilitation, with an evaluation of effectiveness, efficiency, access, and patient satisfaction.
                
                In total, the PSC received the following awards after a thorough review of clinical and administrative standards of which CARF has established.
                •   16 Strength practices
                •   2 Exemplary practices</string>
			<key>TTSFilenamePrefix</key>
			<string>~psc_whats_new_page3</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
		</dict>
		<dict>
			<key>Name</key>
			<string>page4</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<true/>
			<key>ImageFilename</key>
			<string>psc_whatsnew_2013q4_section3_1.png</string>
			<key>ShowHeader</key>
			<false/>
			<key>HeaderText</key>
			<string>Featured >>> PSC Tablet Based Mobile Waiting Room Application</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>NA</string>
			<key>ShowButtonsFor</key>
			<string>yesno</string>
			<key>Text</key>
			<string>In our efforts of continuous innovation, the VA Palo Alto Health Care System (VAPAHCS) Polytrauma System of Care (PSC), in collaboration with the Assistive Technology Center (ATC), developed and deployed an Apple iPad tablet-based Waiting Room mobile application.
                
                Key members on the project development team - Odette Harris, MD, Associate Chief of staff of Polytrauma, David M. Horton, PSC Program Support Assistant/Lead Mobile Healthcare Application Developer, and Jonathan Sills, PhD, Program Director of Assistive Technology Center- made the initial version of the developed application available to willing participants in April of 2013.</string>
			<key>TTSFilenamePrefix</key>
			<string>psc_whats_new_page4</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>page5</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<true/>
			<key>ImageFilename</key>
			<string>psc_whatsnew_2013q4_section3_2.png</string>
			<key>ShowHeader</key>
			<false/>
			<key>HeaderText</key>
			<string>...continued</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>NA</string>
			<key>ShowButtonsFor</key>
			<string>yesno</string>
			<key>Text</key>
			<string>Participants provided feedback information by selecting various responses on the tablets graphical user interface (GUI) and by responding to open ended questions asked verbally by project team members following application use.
                Although the design of the application allows content to be customized for a various clinics, provider, or stakeholders, during this initial test of the Waiting Room application, all participants were presented with a similar set of options to view various healthcare education materials and satisfaction survey questions. </string>
			<key>TTSFilenamePrefix</key>
			<string>psc_whats_new_page5</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>page6</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<true/>
			<key>ImageFilename</key>
			<string>psc_whatsnew_2013q4_section3_3.png</string>
			<key>ShowHeader</key>
			<false/>
			<key>HeaderText</key>
			<string></string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>NA</string>
			<key>ShowButtonsFor</key>
			<string>yesno</string>
			<key>Text</key>
			<string>Health educational materials include information made available from Defense and Veterans Brain Injury Center (DVBIC), educational materials created by clinical staff, and various open-source and freely available online health education and digital media materials.  Survey questions were informed by current psychology research findings focusing on healthcare utilization, patient accessibility, and patient experience. The overall response thus far has been overwhelmingly positive.</string>
			<key>TTSFilenamePrefix</key>
			<string>psc_whats_new_page6</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
        <dict>
			<key>Name</key>
			<string>page7</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<true/>
			<key>ImageFilename</key>
			<string>psc_whatsnew_2013q4_section4_1.png</string>
			<key>ShowHeader</key>
			<false/>
			<key>HeaderText</key>
			<string>OEF/OIF/OND Meeting and Exceeding Clinical Video Telehealth (CVT) Encounter Expectations</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>NA</string>
			<key>ShowButtonsFor</key>
			<string>yesno</string>
			<key>Text</key>
			<string>We are very excited to report that for Q1FY13 and Q2FY13 we had a total of 71 telehealth encounters in our OEF/OIF/OND program.  This positive trend was continued in Q3FY13 where 57 additional telehealth encounters occurred.  This trend shows that our OEF/OIF/OND case management program is well on its way to meet their target of 30% increase from previous FY12 encounters.  It also provides us with increased confidence that our plan to increase encounters in other Polytrauma programs by expanding Social Work telehealth care coordination and office hours will be successful. </string>
			<key>TTSFilenamePrefix</key>
			<string>psc_whats_new_page7</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
        <dict>
			<key>Name</key>
			<string>page8</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<true/>
			<key>ImageFilename</key>
			<string>psc_whatsnew_2013q4_section5_1.png</string>
			<key>ShowHeader</key>
			<false/>
			<key>HeaderText</key>
			<string>VA Palo Alto Health Care System Named 2013 "Most Wired"</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>NA</string>
			<key>ShowButtonsFor</key>
			<string>yesno</string>
			<key>Text</key>
			<string>PALO ALTO, Calif.--The Hospitals and Health Networks, a publication of the American Hospital Association, has named the VA Palo Alto Health Care System as one of the nation's Most Wired hospitals. This is the 15th year the magazine has recognized hospitals and health systems for excellence in Information Technology, and the 8th year VAPAHCS has received the award.
                "Being in Silicon Valley, we know that maintaining cutting-edge technologies for our patients and staff is essential to enhancing our health care delivery," said Matthew Montano, VA Palo Alto Health Care Systemís Chief Information Officer. ìOur ability to provide safe, effective and efficient care to our Veterans is the most important thing we do -- and harnessing technology that allows us to do that even better is critical."</string>
			<key>TTSFilenamePrefix</key>
			<string>psc_whats_new_page8</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
        <dict>
			<key>Name</key>
			<string>page9</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<false/>
			<key>ImageFilename</key>
			<string>NA</string>
			<key>ShowHeader</key>
			<false/>
			<key>HeaderText</key>
			<string>...continued</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>NA</string>
			<key>ShowButtonsFor</key>
			<string>yesno</string>
			<key>Text</key>
			<string>AHA used an analytic structure to stratify hospitals based on progress in adoption, implementation and use of information technology in four areas: infrastructure, business and administration management, clinical quality and safety, and care continuum. Only organizations whose responses reflect development across all four focus areas were designated Most Wired. </string>
			<key>TTSFilenamePrefix</key>
			<string>psc_whats_new_page9</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
        <dict>
			<key>Name</key>
			<string>page10</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<true/>
			<key>ImageFilename</key>
			<string>psc_whatsnew_2013q4_section5_2.png</string>
			<key>ShowHeader</key>
			<false/>
			<key>HeaderText</key>
			<string>...continued</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>NA</string>
			<key>ShowButtonsFor</key>
			<string>yesno</string>
			<key>Text</key>
			<string>VA Palo Alto Health Care System Veterans Alfredo Capps and Arthur Pireda use an Apple iPad at the VA Palo Alto Campus July 9 to preview future functions within the Polytrauma Transitional Rehabilitation Program. For the 8th year, the VA Palo Alto Health Care System was named one of the nation's Most Wired hospitals by the American Hospital Association. (VAPAHCS Photo by Joe Matthews).</string>
			<key>TTSFilenamePrefix</key>
			<string>psc_whats_new_page10</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
        <dict>
			<key>Name</key>
			<string>page11</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<true/>
			<key>ImageFilename</key>
			<string>psc_whatsnew_2013q4_section6_1.png</string>
			<key>ShowHeader</key>
			<true/>
			<key>HeaderText</key>
			<string>Technology in the PNS Program</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string></string>
			<key>ShowButtonsFor</key>
			<string>yesno</string>
			<key>Text</key>
			<string>For the past year, program Veterans have been tapping away on an interactive mobile health system that gives Veterans instant and secure access to everything from appointment reminders and health diaries to video conferencing and individualized electronic medical records via the VA's secure Blue Button system.</string>
			<key>TTSFilenamePrefix</key>
			<string>psc_whats_new_page11</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
        <dict>
			<key>Name</key>
			<string>page12</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<true/>
			<key>ImageFilename</key>
			<string>psc_whatsnew_2013q4_section6_1.png</string>
			<key>ShowHeader</key>
			<false/>
			<key>HeaderText</key>
			<string></string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>NA</string>
			<key>ShowButtonsFor</key>
			<string>yesno</string>
			<key>Text</key>
			<string>The IntelaCare developed and championed locally by Julianna Brooks, LCSW, Polytrauma Network Site Director for VISN 21 at VAPAHCS and Laura Gomez, LCSW, OEF/OIF/OND Program Manager at VAPAHCS, brings this comprehensive, cutting-edge technology to Veterans who have experienced traumatic brain injuries (TBI) and/or Post-Traumatic Stress Disorder (PTSD). IntelaCare delivers Home Tele-health with a few easy clicks. To videoconference with practitioners, Veterans don't have to download a separate app or figure out any equipment; the providers can access patients directly from their offices in the VA facility.</string>
			<key>TTSFilenamePrefix</key>
			<string>psc_whats_new_page12</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
        <dict>
			<key>Name</key>
			<string>page13</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<true/>
			<key>ImageFilename</key>
			<string>psc_whatsnew_2013q4_section6_2.png</string>
			<key>ShowHeader</key>
			<false/>
			<key>HeaderText</key>
			<string></string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>NA</string>
			<key>ShowButtonsFor</key>
			<string>yesno</string>
			<key>Text</key>
			<string>The rollout is part of VAi2, the national VHAís Innovation Initiative that strives to make the twenty-first century Department of Veterans Affairs ìpeople-centric, results-driven, and forward-looking.î The IntelaCare project was recently recognized by CARF (Commission on Accreditation of Rehabilitation Facilities) International as an exemplary program during the 2013 accreditation survey. At the heart of this mobile healthcare system is a sophisticated eLearning system. A curriculum consisting of more than six months of TBI/PTSD educational videos and clinical assessment tools has been co-created as part of this project. VAPAHCS and Affinity Network, Inc. staff mutually developed this curriculum that empowers patients to learn to self-manage their condition(s) at their own pace.</string>
			<key>TTSFilenamePrefix</key>
			<string>psc_whats_new_page13</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
        <dict>
			<key>Name</key>
			<string>page14</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<true/>
			<key>ImageFilename</key>
			<string>psc_whatsnew_2013q4_section7_1.png</string>
			<key>ShowHeader</key>
			<true/>
			<key>HeaderText</key>
			<string>Technology Highlights in the PTRP Program</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>NA</string>
			<key>ShowButtonsFor</key>
			<string>yesno</string>
			<key>Text</key>
			<string>A new collaborative working relationship has been developed by VAPAHCS Assistive Technology (AT) Center Director, Jonathan Sills, Ph.D., Polytrauma Transitional Rehabilitation Program (PTRP) Neuropsychologist Maya Yutsis, Ph.D., PTRP Psychologist, Carey Pawlowski, Ph.D., and Rich Levinson, founder of BrainAid.Com. The collaboration expands use of the PEAT technology platform for brain injured PTRP patients.</string>
			<key>TTSFilenamePrefix</key>
			<string>psc_whats_new_page14</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
        <dict>
			<key>Name</key>
			<string>page15</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<true/>
			<key>ImageFilename</key>
			<string>psc_whatsnew_2013q4_section7_2.png</string>
			<key>ShowHeader</key>
			<false/>
			<key>HeaderText</key>
			<string></string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>NA</string>
			<key>ShowButtonsFor</key>
			<string>yesno</string>
			<key>Text</key>
			<string>PEAT is an Android based smartphone technology that provides individualized cueing and scheduling assistance for patients with memory, attention, and executive functioning deficits. While the PEAT technology is not new, http://brainaid.com engineers have made the platform more user friendly and accessible to patients with various functional limitations. As part of the project, psychology staff identified those patients who would benefit from using new technologies to maximize independence, reintegration to community, and return to meaningful activity after discharge.</string>
			<key>TTSFilenamePrefix</key>
			<string>psc_whats_new_page15</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>page16</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<false/>
			<key>ImageFilename</key>
			<string>NA</string>
			<key>ShowHeader</key>
			<false/>
			<key>HeaderText</key>
			<string></string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>NA</string>
			<key>ShowButtonsFor</key>
			<string>yesno</string>
			<key>Text</key>
			<string>Increasing individualsí use of compensation strategies has been shown to improve independence in daily life after post-acute cognitive rehabilitation. By incorporating new technology into the rehabilitation plan, it is expected that patients and caregivers will be able to utilize compensatory strategies that promote sustainable, long-term functional gains.</string>
			<key>TTSFilenamePrefix</key>
			<string>psc_whats_new_page16</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
        <dict>
			<key>Name</key>
			<string>page17</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<false/>
			<key>ImageFilename</key>
			<string>NA</string>
			<key>ShowHeader</key>
			<true/>
			<key>HeaderText</key>
			<string>Tech for Vets Donate iPads for Photography</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>NA</string>
			<key>ShowButtonsFor</key>
			<string>yesno</string>
			<key>Text</key'
			<string>Jason Rorie and Gary Moore, Jr, founders of Tech for Vets (http://www.techforvets.org) in collaboration with the Wounded Warrior Project's Ken Misa, personally visited the PTRP program to learn how their donated the iPads and docking station may provide maximal benefit to our service members and veterans. Their generosity has allowed PTRP staff to start up a new photography program which has already enhanced the recovery for those in PTRP.</key>
			<string>psc_whats_new_page17</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
        <dict>
			<key>Name</key>
			<string>page18</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<false/>
			<key>ImageFilename</key>
			<string>psc_whatsnew_2013q4_section9_1.png</string>
			<key>ShowHeader</key>
			<true/>
			<key>HeaderText</key>
			<string>Evidence-Based Practice</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>NA</string>
			<key>ShowButtonsFor</key>
			<string>yesno</string>
			<key>Text</key>
			<string>One early morning, following completion of an 8-hour night shift, Dat Hoang, 7-D Polytrauma Nurse, asked himself how his patients may benefit from using mobile technologies during their acute rehabilitation.  Realizing that nursing staff would play a critical role in helping to support patients during the evenings, Mr. Hoang, a Fellow in the Evidence-Based Practice Fellowship program, integrated current evidence that would support nursing education around patients' use of Augmentative/Alternative Communication and Electronic Cognitive Devices.</string>
			<key>TTSFilenamePrefix</key>
			<string>psc_whats_new_page18</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
        <dict>
			<key>Name</key>
			<string>page18</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<false/>
			<key>ImageFilename</key>
			<string>psc_whatsnew_2013q4_section9_1.png</string>
			<key>ShowHeader</key>
			<true/>
			<key>HeaderText</key>
			<string>Evidence-Based Practice</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>NA</string>
			<key>ShowButtonsFor</key>
			<string>yesno</string>
			<key>Text</key>
			<string>One early morning, following completion of an 8-hour night shift, Dat Hoang, 7-D Polytrauma Nurse, asked himself how his patients may benefit from using mobile technologies during their acute rehabilitation.  Realizing that nursing staff would play a critical role in helping to support patients during the evenings, Mr. Hoang, a Fellow in the Evidence-Based Practice Fellowship program, integrated current evidence that would support nursing education around patients' use of Augmentative/Alternative Communication and Electronic Cognitive Devices.</string>
			<key>TTSFilenamePrefix</key>
			<string>psc_whats_new_page18</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
        <dict>
			<key>Name</key>
			<string>page19</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<false/>
			<key>ImageFilename</key>
			<string>NA</string>
			<key>ShowHeader</key>
			<false/>
			<key>HeaderText</key>
			<string></string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>NA</string>
			<key>ShowButtonsFor</key>
			<string>yesno</string>
			<key>Text</key>
			<string>After forming a multidisciplinary working group and months of curriculum development, Mr. Hoang successfully led efforts to deliver four trainings that included information as to how Polytrauma inpatient nursing staff can support patients in their use of various assistive technologies.  Feedback following the training showed that participants felt a greater sense of collaboration with AT Center staff and gained an increase in knowledge of various assistive technologies used across the rehabilitation continuum of care.</string>
			<key>TTSFilenamePrefix</key>
			<string>psc_whats_new_page19</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
        <dict>
			<key>Name</key>
			<string>page20</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<false/>
			<key>ImageFilename</key>
			<string>NA</string>
			<key>ShowHeader</key>
			<true/>
			<key>HeaderText</key>
			<string>Around the PSC</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>NA</string>
			<key>ShowButtonsFor</key>
			<string>yesno</string>
			<key>Text</key>
			<string>✓	PSC Strategic Plan Released - October 2012
                ✓	AT Lab Strategic Plan Released - October 2012
                ✓	Planning for New Rehabilitation Center - Ongoing
                ✓	PSC CARF Accreditation - May 2013
                ✓	Employee Appreciation Ceremony - June 2013
                ✓	FY14 Education Roster Created by PSC Staff - July 2013
                ✓	Planning for AT Center and RAC CARF Accreditation - August 2013
            
            </string>
			<key>TTSFilenamePrefix</key>
			<string>psc_whats_new_page19</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
        <dict>
			<key>Name</key>
			<string>page21</string>
			<key>Type</key>
			<string>exit_page</string>
			<key>ImagePage</key>
			<false/>
			<key>ImageFilename</key>
			<string>NA</string>
			<key>ShowHeader</key>
			<false/>
			<key>HeaderText</key>
			<string></string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>NA</string>
			<key>ShowButtonsFor</key>
			<string>yesno</string>
			<key>Text</key>
			<string>Thank you for taking the time to learn about what’s new at the Polytrauma System of Care.  You will be returned to the main menu in five seconds.</string>
			<key>TTSFilenamePrefix</key>
			<string>psc_whats_new_page21</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
