<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>My Background</key>
	<string>I specialize in physical medicine, rehabilitation and pain medicine. I also focus on management of acute and chronic musculoskeletal pain at the joints in the upper and lower extremities, neck pain and back pain, medical management related to the rehabilitation of stroke, traumatic brain injuries, spinal cord injuries and various neuromuscular disorders.</string>
	<key>My Credentials</key>
	<string>I completed my medical school at Western University of Health Sciences in 2005. After one year of internship in Downey, California, I completed three years of residency in Physical Medicine and Rehabilitation at Stanford University including the last year as a Chief Resident.  In 2010, upon the completion of my Pain Medicine fellowship at the University of Iowa, I joined the VA Palo Alto Health Care system under the departments of polytrauma, pain medicine and PM&amp;R. My clinical interests include the rehabilitation of musculoskeletal related pain and traumatic brain injury disorders.</string>
	<key>My Philosophy</key>
	<string>I chose to become an Osteopathic doctor (D.O.) because I believe that caring for a person requires understanding the anatomy, the illness and overall well-being of the patient as a person. I believe in working alongside my patients to develop an individualized treatment plan that address the mind, spirit and the body. Having been trained in both Osteopathic and Allopathic (M.D.) facilities, I have learned to combine the best of both cultures in helping my patients.</string>
	<key>My Personal Interests</key>
	<string>My family and I are avid members and provide loyal support to the California Museum of Science, the Monterey Bay Aquarium and the de Young Museum. I am also a huge fan of the Santa Clara Valley Koi and Garden tours.  I enjoy gardening, snorkeling, horseback riding, bicycling and traveling with my wife and daughter to various countries to try different foods. In addition to the family dog, I enjoy keeping fish as pets.</string>
</dict>
</plist>
