<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>My Education</key>
	<string>After graduating Yale College summa cum laude in 1993, Dr. Scott received a scholarship for graduate study at Oxford.  He subsequently attended medical school at the University of California at San Francisco and completed residency at Stanford, where served as chief resident.</string>
	<key>My Credentials</key>
	<string>Dr. Scott is boarded in both electromyography and PM&amp;R and serves as Clinical Assistant Professor at the Stanford School of Medicine.</string>
	<key>My Work</key>
	<string>In 2007 Dr. Scott began his present job as the attending physiatrist at the Palo Alto VA Polytrauma Rehabilitation Center.  In addition to attending the inpatient ward, his outpatient work includes interventional spasticity clinic and electromyography.</string>
</dict>
</plist>
