<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Learn about PM&amp;R</string>
	<key>Type</key>
	<string>clinic_education</string>
	<key>CreateDynamically</key>
	<true/>
	<key>Image</key>
	<string>None</string>
	<key>Transitions</key>
	<dict>
		<key>start_transition_type</key>
		<string>slide</string>
		<key>end_transition_type</key>
		<string>slide</string>
		<key>start_transition_origin</key>
		<string>right</string>
		<key>end_transition_origin</key>
		<string>left</string>
	</dict>
	<key>Theme</key>
	<string>light</string>
	<key>Color</key>
	<string>teal</string>
	<key>Mandatory</key>
	<true/>
	<key>ShowModuleHeader</key>
	<true/>
	<key>RecognizeUserSpeechWords</key>
	<array>
		<string>begin</string>
		<string>next</string>
		<string>previous</string>
		<string>go</string>
		<string>ok</string>
		<string>okay</string>
		<string>continue</string>
		<string>right</string>
		<string>left</string>
		<string>got it</string>
		<string>yep</string>
		<string>yes</string>
		<string>no</string>
	</array>
	<key>SuperModule</key>
	<string>Main</string>
	<key>SubModules</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Learn about Acupuncture</string>
			<key>Filename</key>
			<string>pmnr_education_submodule_acupuncture.plist</string>
		</dict>
	</array>
	<key>Pages</key>
	<array>
		<dict>
			<key>Name</key>
			<string>page0</string>
			<key>Type</key>
			<string>intro_page</string>
			<key>ImagePage</key>
			<false/>
			<key>ImageFilename</key>
			<string>NA</string>
			<key>ShowHeader</key>
			<true/>
			<key>HeaderText</key>
			<string>Clinic Details</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>NA</string>
			<key>ShowButtonsFor</key>
			<string>previousnext</string>
			<key>Text</key>
			<string>Now that you&apos;ve learned about your care provider, you will be told a little more about today&apos;s visit.

Press next to continue.</string>
			<key>TTSFilenamePrefix</key>
			<string>pmnr_page0</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>page1</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<false/>
			<key>ImageFilename</key>
			<string>NA</string>
			<key>ShowHeader</key>
			<true/>
			<key>HeaderText</key>
			<string>What does PM&amp;R stand for?</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>pmnr_page1_header</string>
			<key>ShowButtonsFor</key>
			<string>previousnext</string>
			<key>Text</key>
			<string>Physical medicine and rehabilitation (PM&amp;R), also known as physiatry, focuses on helping patients recover functionality after an illness or injury – for example, a stroke, sports injuries, spinal cord or brain injury, or fibromyalgia.</string>
			<key>TTSFilenamePrefix</key>
			<string>pmnr_page1</string>
			<key>ContainsTerminology</key>
			<true/>
			<key>TerminologyButtons</key>
			<array>
				<dict>
					<key>Text</key>
					<string>physiatry</string>
					<key>TTSTextFilenamePrefix</key>
					<string>term_physiatry</string>
					<key>ImageTerm</key>
					<false/>
					<key>ImageFilename</key>
					<string>NA</string>
					<key>TermText</key>
					<string>Physiatry is a branch of medicine that diagnoses and treats disorders causing temporary or permanent impairment.</string>
					<key>TTSTermTextFilenamePrefix</key>
					<string>term_physiatry_text</string>
					<key>MediumOriginCoords</key>
					<array>
						<integer>15</integer>
						<integer>15</integer>
					</array>
					<key>LargeOriginCoords</key>
					<array>
						<integer>20</integer>
						<integer>20</integer>
					</array>
					<key>SmallOriginCoords</key>
					<array>
						<integer>10</integer>
						<integer>10</integer>
					</array>
				</dict>
				<dict>
					<key>Text</key>
					<string>fibromyalgia</string>
					<key>TTSTextFilenamePrefix</key>
					<string>term_fibromyalgia</string>
					<key>ImageTerm</key>
					<false/>
					<key>ImageFilename</key>
					<string>NA</string>
					<key>TermText</key>
					<string>Fibromyalgia is a common syndrome in which a person has long-term, body-wide pain and tenderness in the joints, muscles, tendons, and other soft tissues.</string>
					<key>TTSTermTextFilenamePrefix</key>
					<string>term_fibromyalgia_text</string>
					<key>MediumOriginCoords</key>
					<array>
						<integer>15</integer>
						<integer>25</integer>
					</array>
					<key>LargeOriginCoords</key>
					<array>
						<integer>20</integer>
						<integer>30</integer>
					</array>
					<key>SmallOriginCoords</key>
					<array>
						<integer>10</integer>
						<integer>20</integer>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>page2</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<false/>
			<key>ImageFilename</key>
			<string>NA</string>
			<key>ShowHeader</key>
			<true/>
			<key>HeaderText</key>
			<string>What do rehabilitation specialists do?</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>pmnr_page2_header</string>
			<key>ShowButtonsFor</key>
			<string>previousnext</string>
			<key>Text</key>
			<string>A PM&amp;R specialist, or physiatrist, may use diagnostic tools such as nerve conduction studies (NCS), which measure the nerves’ responses to electrical stimulation, and needle electromyographies (EMGs), which assess the effects of needle electrodes on the muscles.</string>
			<key>TTSFilenamePrefix</key>
			<string>pmnr_page2</string>
			<key>ContainsTerminology</key>
			<true/>
			<key>TerminologyButtons</key>
			<array>
				<dict>
					<key>Text</key>
					<string>physiatrist</string>
					<key>TTSTextFilenamePrefix</key>
					<string>term_physiatrist</string>
					<key>ImageTerm</key>
					<false/>
					<key>ImageFilename</key>
					<string>NA</string>
					<key>TermText</key>
					<string>A physiatrist is a physician specializing in physical medicine and rehabilitation, focusing on restoring function.</string>
					<key>TTSTermTextFilenamePrefix</key>
					<string>term_physiatrist_text</string>
					<key>MediumOriginCoords</key>
					<array>
						<integer>15</integer>
						<integer>15</integer>
					</array>
					<key>LargeOriginCoords</key>
					<array>
						<integer>20</integer>
						<integer>20</integer>
					</array>
					<key>SmallOriginCoords</key>
					<array>
						<integer>10</integer>
						<integer>10</integer>
					</array>
				</dict>
				<dict>
					<key>Text</key>
					<string>electromyography</string>
					<key>TTSTextFilenamePrefix</key>
					<string>term_electromyography</string>
					<key>ImageTerm</key>
					<false/>
					<key>ImageFilename</key>
					<string>NA</string>
					<key>TermText</key>
					<string>Electromyography, or EMG, involves testing the electrical activity of muscles. In some medical conditions the electrical activity of the muscles or nerves is not normal. Finding and describing these electrical properties in the muscle or nerve may help the doctor diagnose the patient&apos;s condition. EMG does not involve piercing the skin and does not hurt.</string>
					<key>TTSTermTextFilenamePrefix</key>
					<string>term_electromyography_text</string>
					<key>MediumOriginCoords</key>
					<array>
						<integer>15</integer>
						<integer>25</integer>
					</array>
					<key>LargeOriginCoords</key>
					<array>
						<integer>20</integer>
						<integer>30</integer>
					</array>
					<key>SmallOriginCoords</key>
					<array>
						<integer>10</integer>
						<integer>20</integer>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>page3</string>
			<key>Type</key>
			<string>page</string>
			<key>ImagePage</key>
			<false/>
			<key>ImageFilename</key>
			<string>NA</string>
			<key>ShowHeader</key>
			<true/>
			<key>HeaderText</key>
			<string>What are some treatments offered in PM&amp;R clinics?</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>pmnr_page3_header</string>
			<key>ShowButtonsFor</key>
			<string>previousnext</string>
			<key>Text</key>
			<string>Treatments include physical therapy, medication, orthotics and adaptive devices. Physiatrists may work with physical, occupational and speech therapists. Subspecialties in physical medicine and rehabilitation include pediatrics, neurology and internal medicine.</string>
			<key>TTSFilenamePrefix</key>
			<string>pmnr_page3</string>
			<key>ContainsTerminology</key>
			<true/>
			<key>TerminologyButtons</key>
			<array>
				<dict>
					<key>Text</key>
					<string>acupuncture</string>
					<key>TTSTextFilenamePrefix</key>
					<string>term_acupuncture</string>
					<key>ImageTerm</key>
					<false/>
					<key>ImageFilename</key>
					<string>NA</string>
					<key>TermText</key>
					<string>Acupuncture is an alternative medicine methodology originating in ancient China.  It is a method of encouraging the body to promote natural healing and to improve functioning. This is done by inserting non-painful needles or applying heat or electrical stimulation at very precise points.</string>
					<key>TTSTermTextFilenamePrefix</key>
					<string>term_acupuncture_text</string>
					<key>MediumOriginCoords</key>
					<array>
						<integer>15</integer>
						<integer>15</integer>
					</array>
					<key>LargeOriginCoords</key>
					<array>
						<integer>20</integer>
						<integer>20</integer>
					</array>
					<key>SmallOriginCoords</key>
					<array>
						<integer>10</integer>
						<integer>10</integer>
					</array>
				</dict>
				<dict>
					<key>Text</key>
					<string>orthotics</string>
					<key>TTSTextFilenamePrefix</key>
					<string>term_orthotics</string>
					<key>ImageTerm</key>
					<false/>
					<key>ImageFilename</key>
					<string>NA</string>
					<key>TermText</key>
					<string>Orthotics, also known as orthoses, are devices worn to correct a physical problem, restoring proper function and/or relieving pain. In the case of foot arch or heel pain, they fit in your shoes to control the way your feet function and to alleviate pain.</string>
					<key>TTSTermTextFilenamePrefix</key>
					<string>term_orthotics_text</string>
					<key>MediumOriginCoords</key>
					<array>
						<integer>15</integer>
						<integer>15</integer>
					</array>
					<key>LargeOriginCoords</key>
					<array>
						<integer>20</integer>
						<integer>20</integer>
					</array>
					<key>SmallOriginCoords</key>
					<array>
						<integer>10</integer>
						<integer>10</integer>
					</array>
				</dict>
				<dict>
					<key>Text</key>
					<string>pediatrics</string>
					<key>TTSTextFilenamePrefix</key>
					<string>term_pediatrics</string>
					<key>ImageTerm</key>
					<false/>
					<key>ImageFilename</key>
					<string>NA</string>
					<key>TermText</key>
					<string>Pediatrics is the branch of medicine that deals with the medical care of infants, children, and adolescents.</string>
					<key>TTSTermTextFilenamePrefix</key>
					<string>term_pediatrics_text</string>
					<key>MediumOriginCoords</key>
					<array>
						<integer>15</integer>
						<integer>15</integer>
					</array>
					<key>LargeOriginCoords</key>
					<array>
						<integer>20</integer>
						<integer>20</integer>
					</array>
					<key>SmallOriginCoords</key>
					<array>
						<integer>10</integer>
						<integer>10</integer>
					</array>
				</dict>
				<dict>
					<key>Text</key>
					<string>neurology</string>
					<key>TTSTextFilenamePrefix</key>
					<string>term_neurology</string>
					<key>ImageTerm</key>
					<false/>
					<key>ImageFilename</key>
					<string>NA</string>
					<key>TermText</key>
					<string>Neurology is the branch of medicine that deals with the anatomy, functions, and disorders of nerves and the nervous system, which includes the brain and spinal cord. A specialist physician who treats patients suffering from neurological disease is called a neurologist.</string>
					<key>TTSTermTextFilenamePrefix</key>
					<string>term_neurology_text</string>
					<key>MediumOriginCoords</key>
					<array>
						<integer>15</integer>
						<integer>15</integer>
					</array>
					<key>LargeOriginCoords</key>
					<array>
						<integer>20</integer>
						<integer>20</integer>
					</array>
					<key>SmallOriginCoords</key>
					<array>
						<integer>10</integer>
						<integer>10</integer>
					</array>
				</dict>
				<dict>
					<key>Text</key>
					<string>internal medicine</string>
					<key>TTSTextFilenamePrefix</key>
					<string>term_internal_medicine</string>
					<key>ImageTerm</key>
					<false/>
					<key>ImageFilename</key>
					<string>NA</string>
					<key>TermText</key>
					<string>Internal medicine is the branch of medicine that deals with the diagnosis and nonsurgical treatment of diseases of the internal organs.</string>
					<key>TTSTermTextFilenamePrefix</key>
					<string>term_internal_medicine_text</string>
					<key>MediumOriginCoords</key>
					<array>
						<integer>15</integer>
						<integer>15</integer>
					</array>
					<key>LargeOriginCoords</key>
					<array>
						<integer>20</integer>
						<integer>20</integer>
					</array>
					<key>SmallOriginCoords</key>
					<array>
						<integer>10</integer>
						<integer>10</integer>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>page4</string>
			<key>Type</key>
			<string>exit_page</string>
			<key>ImagePage</key>
			<false/>
			<key>ImageFilename</key>
			<string>NA</string>
			<key>ShowHeader</key>
			<false/>
			<key>HeaderText</key>
			<string>NA</string>
			<key>HeaderTTSFilenamePrefix</key>
			<string>NA</string>
			<key>ShowButtonsFor</key>
			<string>yesno</string>
			<key>Text</key>
			<string>Now that you&apos;ve learned a little about what you are doing today in the clinic, would you be willing to participate in a survey?</string>
			<key>TTSFilenamePrefix</key>
			<string>pmnr_page4</string>
			<key>ContainsTerminology</key>
			<false/>
			<key>TerminologyButtons</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
