<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>My Background</key>
	<string>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</string>
	<key>My Credentials</key>
	<string>I completed my medical school at John Burns School of Medicine in 1984. After one year of internship at Saint Mary&apos;s Hospital, I completed five years of residency in Physical Medicine and Rehabilitation Hawaii, San Francisco, and Stanford including the last year as a Chief Resident.

In 1990, I joined the VA Palo Alto Health Care system under the departments of polytrauma, pain medicine and PM&amp;R as a Staff Physician and from 2008-2009, I became the Medical Director and Senior Physiatrist in the Polytrauma System of Care, and the Chief of Service of PM&amp;R.</string>
	<key>My Philosophy</key>
	<string>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</string>
	<key>My Personal Interests</key>
	<string>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</string>
</dict>
</plist>
